//== Responsive Type
//
//## Responsive, scale-based font-size adjustment for body text and headings
//## Doesn't effect components where font-size is set based on @font-size-base

//** Base font sizes for different sizes. Basically, a responsive replacement for @font-size-base.
//** Generally, @font-size-base-md should be the same as @font-size-base, and the other
//** sizes should be tweeked to see what works best, according the fonts/scales used. 
@font-size-base-xs:     13px;
@font-size-base-sm:     14px; 
@font-size-base-md:     15px;
@font-size-base-lg:     16px;

//** Responsive line-height variables for resetting the base line-height on <body>
//** Incremental increases of 4% are used here, but do feel free to override if necessary
//** Or set all values to @line-height-base if you're not concerned with responsive
//** line-height adjustment.
@line-height-base-xs:   @line-height-base;
@line-height-base-sm:   (@line-height-base-xs*1.04);
@line-height-base-md:   (@line-height-base-sm*1.04);
@line-height-base-lg:   (@line-height-base-md*1.04);

//** The all-important scales to determine size adjustment between headings
//** Sensible defaults have been used, but please tweek to fit the fonts you are using.
@headings-scaling-xs:   1.200; // (Minor Third)
@headings-scaling-sm:   1.250; // (Major Third)
@headings-scaling-md:   1.300;
@headings-scaling-lg:   1.300;

//** Below is where the font sizes for each heading type are calculated, based on the 
//** above scales. By default, <h5>s are the same as the base text sizes.
//** If you're using a different font for headings, you may want to adjust these values
//** to compensate for the size difference.
@font-size-h5-xs:       @font-size-base-xs;
@font-size-h5-sm:       @font-size-base-sm;
@font-size-h5-md:       @font-size-base-md;
@font-size-h5-lg:       @font-size-base-lg;

//** <h6>s are one step DOWN in scale from <h5>s
@font-size-h6-xs:       floor((@font-size-h5-xs / @headings-scaling-xs));
@font-size-h6-sm:       floor((@font-size-h5-sm / @headings-scaling-sm));
@font-size-h6-md:       ceil((@font-size-h5-md / @headings-scaling-md));
@font-size-h6-lg:       ceil((@font-size-h5-lg / @headings-scaling-lg));

//** <h4>s are one step UP in scale from <h5>s
@font-size-h4-xs:       floor((@font-size-h5-xs * @headings-scaling-xs));
@font-size-h4-sm:       floor((@font-size-h5-sm * @headings-scaling-sm));
@font-size-h4-md:       ceil((@font-size-h5-md * @headings-scaling-md));
@font-size-h4-lg:       ceil((@font-size-h5-lg * @headings-scaling-lg));

//** <h3>s are a second step upward in scale
@font-size-h3-xs:       floor((@font-size-h4-xs * @headings-scaling-xs));
@font-size-h3-sm:       floor((@font-size-h4-sm * @headings-scaling-sm));
@font-size-h3-md:       ceil((@font-size-h4-md * @headings-scaling-md));
@font-size-h3-lg:       ceil((@font-size-h4-lg * @headings-scaling-lg));

//** <h2>s are a third step upward in scale
@font-size-h2-xs:       floor((@font-size-h3-xs * @headings-scaling-xs));
@font-size-h2-sm:       floor((@font-size-h3-sm * @headings-scaling-sm));
@font-size-h2-md:       ceil((@font-size-h3-md * @headings-scaling-md));
@font-size-h2-lg:       ceil((@font-size-h3-lg * @headings-scaling-lg));

//** <h1>s are a fourth step upward in scale
@font-size-h1-xs:       floor((@font-size-h2-xs * @headings-scaling-xs));
@font-size-h1-sm:       floor((@font-size-h2-sm * @headings-scaling-sm));
@font-size-h1-md:       ceil((@font-size-h2-md * @headings-scaling-md));
@font-size-h1-lg:       ceil((@font-size-h2-lg * @headings-scaling-lg));
